.line.green,
.green::before,
.green::after {
  background-color: lightgreen;
}

.line.coral,
.coral::before,
.coral::after {
  background-color: lightcoral;
}

.line.bisque,
.bisque::before,
.bisque::after {
  background-color: bisque;
}

.line.blue,
.blue::before,
.blue::after {
  background-color: lightblue;
}

.line.seagreen,
.seagreen::before,
.seagreen::after {
  background-color: lightseagreen;
}

.line.beige,
.beige::before,
.beige::after {
  background-color: #FAD6A5;
}

.line.sage,
.sage::before,
.sage::after {
  background-color: #9BA17B;
}

.line.pink,
.pink::before,
.pink::after {
  background-color: #FF8DC7;
}

.line.peach,
.peach::before,
.peach::after {
  background-color: #FFB9B9;
}

.line.selected,
.selected::before,
.selected::after {
  background-color: grey;
}
