:root {
  --f7-page-bg-color: #4782bd !important;
}

.button-fill, .ios .button-fill-ios, .md .button-fill-md, .aurora .button-fill-aurora, .button-active, .button.tab-link-active {
  --f7-button-bg-color: #ccc !important;
  --f7-button-text-color: #4782bd !important;
}

:root {
  --game-grid-large-symbol-size: 3rem;
  --game-grid-small-symbol-size: 2rem;

  --game-grid-symbol-size: var(--game-grid-large-symbol-size);
}
