.line {
  padding: 0;
  margin: 0;
  height: var(--game-grid-symbol-size);
  line-height: 1px;
  opacity: 0.5;
  position: absolute;
  transform-origin: left center;
  pointer-events: none;
}

.line::before,
.line::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: var(--game-grid-symbol-size);
  height: var(--game-grid-symbol-size);
}

.line::before {
  right: 99%;
  border-radius: calc(var(--game-grid-symbol-size) / 2) 0 0 calc(var(--game-grid-symbol-size) / 2);
}

.line::after {
  left: 99%;
  border-radius: 0 calc(var(--game-grid-symbol-size) / 2) calc(var(--game-grid-symbol-size) / 2) 0;
}
