.line {
  padding: 0;
  margin: 0;
  height: 3rem;
  line-height: 1px;
  opacity: 0.5;
  position: absolute;
  transform-origin: left center;
  pointer-events: none;
}

.line::before,
.line::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 3rem;
  height: 3rem;
}

.line::before {
  right: 99%;
  border-radius: calc(3rem / 2) 0 0 calc(3rem / 2);
}

.line::after {
  left: 99%;
  border-radius: 0 calc(3rem / 2) calc(3rem / 2) 0;
}
