.line {
  padding: 0;
  margin: 0;
  height: 25px;
  line-height: 1px;
  opacity: 0.5;
  position: absolute;
  transform-origin: left center;
  pointer-events: none;
}

.line.available-path,
.available-path::before,
.available-path::after {
  background-color: lightgreen;
}

.line.unavailable-path,
.unavailable-path::before,
.unavailable-path::after {
  background-color: lightcoral;
}

.line.selected,
.selected::before,
.selected::after {
  background-color: grey;
}

.line::before,
.line::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
}

.line::before {
  right: 99%;
  border-radius: 25px 0 0 25px;
}

.line::after {
  left: 99%;
  border-radius: 0 25px 25px 0;
}
